<div class="uk-card uk-card-default uk-card-small uk-card-hover my-3 border-0">
  <a href="<%- config.root %><%- item.path %>" style="text-decoration: none">
    <div class="uk-card-body">
      <div class="post-preview text-truncate">
            <h2 class="uk-card-title m-0">
                <%- item.title || theme.default_post_title || "Sem título" %>
            </h2>
            <% if (item.subtitle && item.subtitle.length) { %>
                <h3 class="post-subtitle">
                    <%- item.subtitle %>
                </h3>
            <% } %>

            <p class="uk-card-text uk-text-small uk-text-muted text-truncate"><%- item.resume %></p>
            <div class="d-flex align-items-center">
              <img
              <% if(item.author != 'a0' ){ %>
                src="<%- gravatar(site.data.authors[item.author][1], 40) %>"
              <% }else{ %>
                src="<%- site.data.authors.a0[1] %>"
              <%}%>
              width="40" height="40" class="uk-border-circle" alt="...">
              <i class="meta pl-2" uk-icon="icon: clock; ratio: 1"></i>&nbsp
              <p class="h6 meta uk-card-text uk-text-muted text-wrap pt-2">
                    <!-- Date and Author -->
                    <span>
                      <% if(item.author) { %>
                        Postado por <b> <%- site.data.authors[item.author][0] %> </span> </b> em <b>
                    <% } %>
                    <%
                        const updated = item.updated.format(config.date_format);
                        const date = item.date.format(config.date_format)
                    %>
                    <% if(date ==  updated) {%>
                      <%= date %> </b>
                    <% }else{%>
                      <%= date %><br><span class="updated" value="<%= item.updated %>"></span></b>
                    <%}%>
              </p>
            </div>
    </div>
    </a>
  </div>
</div>
