<div class="col-sm-12 col-md-4 w-100 pt-2 pt-md-0">
    <div class="uk-card uk-card-default uk-card-hover ">
      <div class="uk-card-body">
        <h3 class="uk-card-title uk-text-bold"><%- item.title || theme.default_post_title || "Sem título" %></h3>
        <p class="uk-card-text uk-text-small uk-text-muted text-truncate"><%- item.resume %></p>
        <a  href="<%- config.root %><%- item.path %>" class="stretched-link" style="text-decoration: none"></a>
      </div>
      <div class="uk-card-footer">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img
                <% if(item.author != 'a0' ){ %>
                  src="<%- gravatar(site.data.authors[item.author][1], 40) %>"
                <% }else{ %>
                  src="<%- site.data.authors.a0[1] %>"
                <%}%>
                width="40" height="40" class="uk-border-circle" alt="...">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom uk-text-small"><%- site.data.authors[item.author][0] %></h3>
                <p class="uk-text-meta uk-margin-remove-top"><i uk-icon="icon: clock; ratio: 0.7" ></i>&nbspPostado em <%= item.date.format(config.date_format) %></p>
            </div>
        </div>
      </div>
  </div>
</div>
